html {
  height: -webkit-fill-available;
}

header {
  grid-area: header;
  padding: var(--size-m) var(--size-m);
}

aside {
  grid-area: sidebar;
  border-right: 1px solid var(--color-border-soft);
}

main {
  grid-area: main;
}

nav {
  grid-area: bottomNav;
  height: 44px;
}

nav ol {
  height: 100%;
  display: flex;
  align-items: center;
}

nav .selected svg.icon{
  fill: var(--color-primary);
}

svg.icon {
  width: 24px;
  height: 24px;
  fill: white
}

.layout {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  width: 100vw;
  display: grid;
  grid-gap: var(--grid-gap-m);
}

.layout-summary-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: var(--size-m);
}

/*
phone: 600px;
table: 1200px;
desktop: 1920px;
*/
@media screen and (max-width: 1200px) {
  .layout {
    display: flex;
    flex-direction: column;
  }

  .layout-summary-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--size-s);
  }

  main { flex: 1; }
}

@media screen and (min-width: 1200px) {
  .layout {
    height: 100vh;
    grid-template-rows: 60px auto;
    grid-template-columns: clamp(320px, 20vw, 400px) 3fr;
    grid-template-areas:
      "header  header"
      "sidebar main"
  }

  aside, main { overflow: auto; }
}
