.layout {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  width: 100vw;
  display: grid;
  grid-gap: var(--grid-gap-m);
}

/* --screen-phone: 600px;
--screen-table: 1200px;
--screen-desktop: 1920px; */
@media screen and (max-width: 1200px) {
  .layout {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .layout {
    grid-template-rows: 60px auto;
    grid-template-columns: clamp(320px, 20vw, 400px) 3fr;
    grid-template-areas:
      "header  header"
      "sidebar main"
  }

  body { overflow: hidden; }
  aside, main { overflow: auto; }
}

html {
  height: -webkit-fill-available;
}

header {
  grid-area: header;
  padding: var(--size-m) var(--size-m);
}

aside {
  grid-area: sidebar;
  border-right: 1px solid var(--color-border-soft);
}

main {
  grid-area: main;
}

nav {
  grid-area: bottomNav;
}

nav .selected {
  background-color: var(--color-primary);
}
